<div class="container-form">
  <form [formGroup]="signUp" (ngSubmit)="sendSignUp()">
    <h2>Sign up to your account</h2>
    <br />
    <div class="align-form">
      <label>Your Name *</label>
      <mat-form-field appearance="outline">
        <input type="text" matInput formControlName="name" maxlength="100" />
        <!-- TRATAMENTO DE ERROS -->
        <mat-error *ngIf="requiredName">Name is required</mat-error>

        <mat-error *ngIf="errorNameMinLength"
          >Minimum of characters is 3</mat-error
        >
      </mat-form-field>

      <label>Your email *</label>
      <mat-form-field appearance="outline">
        <input type="text" matInput formControlName="email" />

        <!-- TRATAMENTO DE ERROS -->

        <mat-error *ngIf="requiredEmail">Email is required</mat-error>

        <mat-error *ngIf="invalidationErrorMessageEmail"
          >Email invalid</mat-error
        >
      </mat-form-field>
      <p *ngIf="errorEmail !== ''" class="errorMessage">{{ errorEmail }}</p>

      <label>Your password *</label>
      <mat-form-field appearance="outline">
        <input
          type="password"
          matInput
          formControlName="password"
          maxlength="12"
        />

        <!-- TRATAMENTO DE ERROS -->

        <mat-error *ngIf="requiredPassword">Password Is required</mat-error>

        <mat-error *ngIf="errorPasswordMinLength"
          >Minimum of characters is 6</mat-error
        >
      </mat-form-field>

      <label>Confirm your password *</label>
      <mat-form-field appearance="outline">
        <input
          type="password"
          matInput
          formControlName="confirmPassword"
          maxlength="12"
        />

        <mat-error *ngIf="requiredConfirmPassword"
          >Confirm password is required</mat-error
        >

        <mat-error *ngIf="confirmPassword">Password is not match</mat-error>
      </mat-form-field>
    </div>
    <button
      type="submit"
      mat-stroked-button
      class="btn"
      [disabled]="signUp.invalid"
    >
      <p *ngIf="!isLoading">Sign Up</p>
      <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
    </button>
    <div class="register">
      Already have an account? <a href="#" routerLink="/login">Sign in</a>
    </div>
  </form>
</div>
