/* You can add global styles to this file, and also import other style files */

@import "utils/styles/variable";
@import "utils/styles/placeholders";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $main-bg;

  .container-form {
    @extend %d-center;
    flex-direction: column;
    min-height: 100vh;
    form {
      @extend %d-center;
      flex-direction: column;
      background-color: $main-sub-color;
      width: 80%;
      padding: 50px 20px;
      h2 {
        font-size: 2rem;
        color: $text;
      }
      .align-form {
        width: 80%;
        label {
          color: $text;
        }
        mat-form-field {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 6px auto;
        }
      }
      .btn {
        @extend %d-center;
        margin: 12px auto;
        width: 80%;
        padding: 6px;
        background-color: $btn;
        color: #fff;
        &:disabled {
          opacity: 0.5;
        }
        p {
          margin: 0;
        }
      }

      .errorMessage {
        position: relative;
        bottom: 15px;
        margin: 0;
        color: $error-message;
      }
    }
  }
}
:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #1a82e4;
}
