.card-group {
  width: 90%;
  margin: 100px auto auto auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .card {
    width: 28%;
    margin: 40px auto;

    border: 1.5px inset #fff;

    cursor: pointer;

    &-header {
      display: flex;
      justify-content: center;
      &-title {
        height: 35px;
      }
    }
    img {
      height: 75%;
    }
  }
}
