<div class="card-group">

  <mat-card class="card" *ngFor="let movie of movies" (click)="viewInfo(card)" #card >
    <mat-card-header class="card-header">
      <mat-card-title class="card-header-title">{{movie.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{movie.overview}}
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

</div>